body{
	margin: 0px;
}

h1{
	font-family: Renner;
}

img{
	width: 200px;
	height: auto;
}

#banner{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}